<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".HeliosApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher4"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.Helios">
        <activity
            android:name=".ScheduleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextActivity"
            android:parentActivityName=".ScheduleActivity" />
        <activity
            android:name=".CompassActivity"
            android:parentActivityName=".ScheduleActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>